/* Основні змінні сайту */
:root {

}


.page {
    background-color: #ffffff;
    color: #757575;
}

/* Навігація */
.logo {
    color: #2196F3;
}
.studio {
    color: #000000;
}
.site-nav {
    color: #212121;
    
}


ul {
   list-style: none; 
}



/* Колір основного тексту #212121 */
/* Колір вторичного тексту #757575 */
/* Колір акценту #2196F3*/
/* Колір основного фону #ffffff*/
/* Колір фону секції Наша команда #F5F4FA*/
/* Колір фону шапки та футера #2F303A */
/* Колір адреси футера rgba(255, 255, 255, 0.6)*/