/* Колір основного тексту  #757575*/
/* Колір вторичного тексту #212121 */
/* Колір акценту #2196F3*/
/* Колір основного фону #ffffff*/
/* Колір вторичного фону #F5F4FA*/
/* Колір фону шапки та футера #2F303A */
/* Колір тексту адреси футера rgba(255, 255, 255, 0.6)*/

/* Основні змінні сайту */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --other-background-color: #2F303A;
    --footer-adress-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color: #000000

}

.page {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}


/* Стилі для index.html */
/* Навігація */
.logo {
    color: var(--accent-color);
}
.logo .logo-studio {
    color: var(--logo-text-color);
}
.link {
    color: var(--secondary-text-color);
}
.site-nav.list .current{
    color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-adress .link{
    color: var(--primary-text-color);
}
.site-adress .link:hover, 
.site-adress .link:focus  {
    color: var(--accent-color);
}



/* Шапка основного контенту */
.main-section {
    background-color: var(--other-background-color);
}
.main-section .title {
    color: var(--primary-background-color);
}
.button {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}



/* Особливості */
.section .feature-title {
    color: var(--secondary-text-color);
}
/* Приховані заголовки секцій Особливості та Портфоліо */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* Чим ми займаємось */
.section .title {
    color: var(--secondary-text-color);
}



/* Наша команда */
.team .title {
    color: var(--secondary-text-color);
}
.person-name {
    color: var(--secondary-text-color);
}
.team {
    background-color: var(--secondary-background-color);
}



/* Футер сайту */
.footer {
    background-color: var(--other-background-color);
}
.footer .logo-studio {
    color: var(--primary-background-color);
}
.adress-text {
    color: var(--primary-background-color);
}
.footer .link {
    color: var(--footer-adress-text-color);
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}



/* Стилі для portfolio.html */
.filters-list .button{
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
}
.filters-list .button:hover,
.filters-list .button:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}
.portfolio-title{
    color: var(--secondary-text-color);
}
.portfolio-list .text{
    color: var(--primary-text-color);
}